.gifts {
  background-image: url("https://assets.mubicdn.net/splash/carol_christmas.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-color: #333;
  background-position: center center;
  background-repeat: no-repeat;
}

.Gifts__body {
  z-index: 2;
  position: relative;
  .Gifts__body_wrapper {
    text-align: center;
    margin-bottom: 90px;
  }
}
